<div class="container_head">
  <a href="#" class="logo">
    <img src="https://raw.githubusercontent.com/Rowida46/My-Reading-List/main/logo.jpg">
  </a>
  <nav>
    <i class="fas fa-bars toggle-menu"></i>
    <ul>
      <li>
        <a class="active" href="/">Home</a>
      </li>
      <li>
        <a href="/report">Report Missing</a>
      </li>
      <!-- to make that right nav only for registered users-->
      {% if session.logged_in %} 
	    <li>
	       <a href="/logout">Log out</a>
	    </li>
	  {% else %}
      <li>
        <a href="/login">Log In</a>
      </li>
      <li>
        <a href="/signup/{{ session.id }}">Sign Up</a>
      </li>
      {% if session.id == '3' %}
        <li>
	        <a href="/add_member">Add Member</a>
	    </li>
  	  {% endif %} 
  	{% endif %}
  </ul>
  </nav>
</div>